<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.AvailableDateDAO">

    <insert id="insertAvailableDates">
        INSERT INTO AVAILABLE_DATE (USER_ID, POSSIBLE_DATE)
        VALUES
        <foreach collection="availableDates" item="date" separator=",">
            (#{userId}, #{date})
        </foreach>
    </insert>

    <delete id="deleteAllAvailableDates">
        DELETE FROM AVAILABLE_DATE
        WHERE USER_ID = #{userId}
    </delete>


    <select id="findAvailableDatesByUserIdInRange" resultType="java.time.LocalDate">
        SELECT POSSIBLE_DATE
        FROM AVAILABLE_DATE
        WHERE USER_ID = #{userId}
        AND POSSIBLE_DATE BETWEEN #{startDate} AND #{endDate}
    </select>

</mapper>