<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.GroupScheduleUnregisteredParticipantDAO">

    <insert id="insert" parameterType="list">
        INSERT INTO GROUP_SCHEDULE_UNREGISTERED_PARTICIPANT (GROUP_SCHEDULE_ID, PARTICIPANT_NAME)
        VALUES
            <foreach collection="list" item="participant" separator=",">
                (#{participant.groupScheduleId}, #{participant.participantName})
            </foreach>
    </insert>

</mapper>