<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.GroupScheduleParticipantDAO">

    <insert id="insert" parameterType="list">
        INSERT INTO GROUP_SCHEDULE_PARTICIPANT (USER_ID, GROUP_ID, GROUP_SCHEDULE_ID)
        VALUES
            <foreach collection="list" item="participant" separator=",">
                (#{participant.userId}, #{participant.groupId}, #{participant.groupScheduleId})
            </foreach>
    </insert>

    <select id="findByScheduleId" resultType="com.planu.group_meeting.dto.GroupScheduleDTO$ParticipantsResponse">
        SELECT u.name, u.username
        FROM GROUP_SCHEDULE_PARTICIPANT as gsp
        JOIN USER u ON gsp.user_id = u.id
        WHERE gsp.group_id = #{groupId} and gsp.GROUP_SCHEDULE_ID = #{scheduleId}
    </select>

    <delete id="deleteAllByScheduleId" parameterType="Long">
        DELETE FROM GROUP_SCHEDULE_PARTICIPANT WHERE group_id = #{groupId} and group_schedule_id = #{scheduleId};
    </delete>
</mapper>