<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.GroupScheduleCommentDAO">
    <insert id="create">
        insert into GROUP_SCHEDULE_COMMENT(USER_ID, GROUP_ID, GROUP_SCHEDULE_ID, MESSAGE)
        values(#{userId}, #{groupId}, #{groupScheduleId}, #{message})
    </insert>

    <select id="getAllByGroupScheduleId">
        select
            id,
            user_id as userId,
            group_id as groupId,
            group_schedule_id as groupScheduleId,
            message,
            created_date as createdDate
        from GROUP_SCHEDULE_COMMENT
        where group_id = #{groupId} and group_schedule_id = #{groupScheduleId}
        order by created_date desc
    </select>

    <delete id="deleteCommentById">
        delete
        from GROUP_SCHEDULE_COMMENT
        where group_id = #{groupId} and group_schedule_id = #{groupScheduleId} and id = #{commentId}
    </delete>
</mapper>
