<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.NotificationDAO">

    <insert id="save" parameterType="com.planu.group_meeting.dto.NotificationDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO NOTIFICATION (
        RECEIVER_ID, SENDER_ID, EVENT_TYPE, CONTENT, RELATED_URL ,IS_READ ) VALUES
        (#{receiverId}, #{senderId}, #{eventType}, #{contents}, #{relatedUrl},0)
    </insert>

    <select id="findById" parameterType="Long" resultType="com.planu.group_meeting.dto.NotificationDTO">
        SELECT
        id,
        SENDER_ID AS senderId,
        RECEIVER_ID AS receiverId,
        EVENT_TYPE AS eventType,
        CONTENT AS contents,
        RELATED_URL AS relatedUrl,
        IS_READ AS isRead,
        CREATED_DATE AS createdDate
        FROM NOTIFICATION
        WHERE RECEIVER_ID = #{userId} AND ID = #{notificationId}
    </select>

    <select id="findAllByUserId" parameterType="Long" resultType="com.planu.group_meeting.dto.NotificationDTO">
        SELECT
        id,
        SENDER_ID AS senderId,
        RECEIVER_ID AS receiverId,
        EVENT_TYPE AS eventType,
        CONTENT AS contents,
        RELATED_URL AS relatedUrl,
        IS_READ AS isRead,
        CREATED_DATE AS createdDate
        FROM NOTIFICATION
        WHERE RECEIVER_ID = #{userId}
    </select>

    <update id="updateIsRead">
        UPDATE NOTIFICATION
        SET IS_READ = 1
        WHERE ID = ${notificationId}
    </update>

    <delete id="deleteOldNotification">
        DELETE FROM NOTIFICATION
        WHERE CREATED_DATE &lt; DATE_SUB(NOW(), INTERVAL 6 MONTH)
    </delete>

    <select id="hasUnreadNotification" parameterType="Long" resultType="com.planu.group_meeting.dto.NotificationDTO$UnreadNotificationResponse">
        SELECT EXISTS (
        SELECT 1
        FROM NOTIFICATION
        WHERE RECEIVER_ID = #{userId} AND IS_READ = 0
        ) AS isExistUnReadNotification
    </select>


</mapper>