<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.planu.group_meeting.dao.UserDAO">

    <resultMap id="userResultMap" type="com.planu.group_meeting.entity.User">
        <id column="ID" property="id"/>
        <result column="USERNAME" property="username"/>
        <result column="EMAIL" property="email"/>
        <result column="PASSWORD" property="password"/>
        <result column="NAME" property="name"/>
        <result column="ROLE" property="role" javaType="com.planu.group_meeting.entity.common.Role"/>
        <result column="GENDER" property="gender" javaType="com.planu.group_meeting.entity.common.Gender"/>
        <result column="PROFILE_IMG_URL" property="profileImgUrl"/>
        <result column="BIRTH_DATE" property="birthDate"/>
        <result column="PROFILE_STATUS" property="profileStatus" javaType="com.planu.group_meeting.entity.common.ProfileStatus"/>
        <result column="CREATE_DATE" property="createdAt"/>
        <result column="UPDATE_DATE" property="updatedAt"/>
    </resultMap>


    <insert id="insertUser" parameterType="com.planu.group_meeting.entity.User">
        INSERT INTO USER (USERNAME, EMAIL, PASSWORD, NAME, CREATE_DATE, UPDATE_DATE, ROLE)
        VALUES (#{username}, #{email}, #{password}, #{name}, #{createdAt}, #{updatedAt}, #{role})
    </insert>

    <select id="existsByUsername" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM USER
        WHERE USERNAME = #{username}
    </select>

    <select id="existsByEmail" parameterType="String" resultType="boolean">
        SELECT COUNT(*) > 0
        FROM USER
        WHERE EMAIL = #{email}
    </select>

    <select id="findByUsername" parameterType="String" resultMap="userResultMap">
        SELECT ID, USERNAME,
        EMAIL,
        PASSWORD,
        NAME,
        ROLE,
        GENDER,
        PROFILE_IMG_URL,
        BIRTH_DATE,
        PROFILE_STATUS,
        CREATE_DATE,
        UPDATE_DATE
        FROM USER
        WHERE USERNAME = #{username}
    </select>

    <update id="updateUserProfile" parameterType="com.planu.group_meeting.entity.User">
        UPDATE USER
        <set>
            <if test="user.username != null">USERNAME = #{user.username},</if>
            <if test="user.password != null">PASSWORD = #{user.password},</if>
            <if test="user.name != null">NAME = #{user.name},</if>
            <if test="user.email != null">EMAIL = #{user.email},</if>
            <if test="user.role != null">ROLE = #{user.role},</if>
            <if test="user.gender != null">GENDER = #{user.gender},</if>
            <if test="user.profileImgUrl != null">PROFILE_IMG_URL = #{user.profileImgUrl},</if>
            <if test="user.birthDate != null">BIRTH_DATE = #{user.birthDate},</if>
            <if test="user.profileStatus != null">PROFILE_STATUS = #{user.profileStatus},</if>
        </set>
        WHERE ID = #{userId}
    </update>

</mapper>
